<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Basic</title>
    <style>
        .card{
            background-color: beige;
            align-items: center;
        }
        .b1{
            align-self: center;
            color:black;
        }
    </style>
</head>
<body>
    <!-- <h1 style="text-align: center;">Syntax</h1> -->
    <div class = "card">
        <div class="b1">
            <h1 align="center"> Java Basics</h1>
        </div>
        <div style="font-size: 20px;">
        <p >Java program is an object-oriented programming language, that means java is the collection of objects, and these objects communicate through method calls to each other to work together. Here is a brief discussion on the Classes and Objects, Method, Instance variables, syntax, and semantics of Java.</p>
        </div>
        <br>
        <div>
            <h3>Basic terminologies in Java</h3>
        </div>
        
        <div style="font-size: 20px;">
            <ol start="1">
                <li><b>Class:</b> The class is a blueprint (plan) of the instance of a class (object). It can be defined as a logical template that share common properties and methods.</li>
                <ul>
                    <li>Example1: Blueprint of the house is class.</li>
                    <li>Example2: In real world, Alice is an object of the “Human” class.</li>
                </ul>
                <li>
                    <b>Object:</b> The object is an instance of a class. It is an entity that has behavior and state
                </li>
                <ul>
                    <li>Example: Dog, Cat, Monkey etc. are the object of “Animal” class.</li>
                    <li><b>Behavior:</b> Running on the road.</li>
                </ul>
                <li><b>Method: </b>The behavior of an object is the method.</li>
                <ul><li><b>Example: </b>The fuel indicator indicates the amount of fuel left in the car.</li></ul>
            </ol>
        </div>
      
          <a href="topic" style="text-decoration: none;font-size:20px" ><button style="font-size:24px;">Previous<i class="fa fa-arrow-circle-left" style="color: red;"></i></a>
    </div>

    
</body>
</html>