<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro to DBMS</title>
    <style>
        .card{
            background-color: #dfdfc8;
            align-items: center;
        }
        
    </style>
</head>
<body>
    <!-- <h1 style="text-align: center;">Syntax</h1> -->
    <div class = "card">
        <div >
            <h1 align="center"> Introduction to Database Management System</h1>
        </div>
        <div style="font-size: 20px;">
            <h3><strong>INTRODUCTION:</strong></h3>
            <p >A Database Management System (DBMS) is a software system that is designed to manage and organize data in a structured manner. It allows users to create, modify, and query a database, as well as manage the security and access controls for that database.</p>
        </div>
        <br>
        <div>
            <h3>Some key features of a DBMS include:</h3>
        </div>
        
        <div style="font-size: 20px;">
            <ol start="1">
                <li><b>Data Modeling</b>A DBMS provides tools for creating and modifying data models, which define the structure and relationships of the data in a database.</li>
                <li>
                    <b>Data storage and retrieval:</b> A DBMS is responsible for storing and retrieving data from the database, and can provide various methods for searching and querying the data
                </li>
                <li><b>Concurrency control: </b>A DBMS provides mechanisms for controlling concurrent access to the database, to ensure that multiple users can access the data without conflicting with each other.</li>

                <li><b>Method: </b>The behavior of an object is the method.</li>

                <li><b>Data integrity and security:</b> A DBMS provides tools for enforcing data integrity and security constraints, such as constraints on the values of data and access controls that restrict who can access the data.</li>
                <li><b>Backup and recovery:</b> A DBMS provides mechanisms for backing up and recovering the data in the event of a system failure.</li>
                 <li> <b>DBMS can be classified into two types:</b> Relational Database Management System (RDBMS) and Non-Relational Database Management System (NoSQL or Non-SQL)</li>
                    <li><b>RDBMS:</b> Data is organized in the form of tables and each table has a set of rows and columns. The data is related to each other through primary and foreign keys.</li>
                   <li> <b>NoSQL: </b>Data is organized in the form of key-value pairs, document, graph, or column-based. These are designed to handle large-scale, high-performance scenarios.</li>
            </ol>
            <p>Database is a collection of interrelated data which helps in the efficient retrieval, insertion, and deletion of data from the database and organizes the data in the form of tables, views, schemas, reports, etc. For Example, a university database organizes the data about students, faculty, admin staff, etc. which helps in the efficient retrieval, insertion, and deletion of data from it.</p>
            
        </div>
      
          <a href="/dbtopic" style="text-decoration: none;font-size:20px" ><button style="font-size:24px;">Previous<i class="fa fa-arrow-circle-left" style="color: red;"></i></a>
    </div>

    
</body>
</html>